
$theme-colors : (
    );
    
@import "../node_modules/bootstrap/scss/bootstrap";
    
$link-color: color("orange");
.item-card {
    width: 18rem !important;
    display: inline-block !important;
    margin-right: 15px;
}
.user-form {
    width: 30rem;
    margin-top: 3rem;
}

.navbar-brand i{
    padding-left: 1em;
    padding-right: .5em;
    color: $orange
}

.dropdown-menu.show {
    height: 18em;
    overflow-y: scroll;
}

.card-row {
    clear: both;
    overflow: scroll;
    height: 16em;
    white-space: nowrap;
}
// .left-nav a {
//     color: $orange
// }